.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background-color: var(--color-bg-secondary);
  border-radius: 20px;
  /* width: 312px; */
  width: 100%;
}

.logo {
  position: absolute;
  left: 16px;
  top: 24px;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  margin-bottom: 40px;
}

.title {
  line-height: 38px;
  font-weight: 700;
}
.subtitle {
  font-size: 14px;
  color: var(--color-accent);
  /* margin-bottom: 12px; */
  font-weight: 400;
  /* line-height: 18px; */
}

.buttons {
  display: flex;
  gap: 40px;
}

.link {
  padding: 14px 19px;
  background-color: var(--accent);
  color: var(--main);
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  border-radius: 30px;
  transition: all var(--transition);
}

.link:hover {
  background-color: var(--accent-hover);
}

/* from 768px */
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    padding: 120px 60px 50px 60px;
    max-width: 704px;
  }
  .title {
    font-size: 64px;
    line-height: 70px;
  }
  .link {
    padding: 18px 40px;
  }

  .logo {
    top: 32px;
    left: 32px;
  }
  .subtitle {
    font-size: 20px;
  }

  .link {
    font-size: 16px;
    line-height: 24px;
  }
}

/* from 1440px */
@media screen and (min-width: 1440px) {
  .container {
    padding-top: 188px;
    padding-bottom: 188px;
    padding-left: 64px;
    padding-right: 61px;
    max-width: 672px;
  }

  .title {
    font-size: 80px;
    line-height: 76px;
  }
}
