.sectionContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: var(--color-bg-secondary);
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}

.title {
  line-height: 38px;
  font-weight: 700;
}
.subtitle {
  font-size: 14px;
  color: var(--color-accent);

  font-weight: 300;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}

.link {
  padding: 14px 19px;
  background-color: var(--accent);
  color: var(--main);
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  border-radius: 30px;
  transition: all var(--transition);
}

.link:hover {
  background-color: var(--accent-hover);
}

/* from 768px */
@media screen and (min-width: 768px) {
  .sectionContainer {
    display: flex;
    padding: 20px 40px;
    max-width: 704px;
  }
  .title {
    font-size: 64px;
    line-height: 70px;
  }
  .link {
    padding: 18px 40px;
  }

  .logo {
    top: 32px;
    left: 32px;
  }
  .subtitle {
    font-size: 20px;
  }

  .link {
    font-size: 16px;
    line-height: 24px;
  }
}

/* from 1440px */
@media screen and (min-width: 1440px) {
  .sectionContainer {
    padding: 40px 64px;
    max-width: 672px;
  }

  .title {
    font-size: 80px;
    line-height: 76px;
  }
}
