.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;

  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;

  margin-bottom: 28px;
}

.okBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-primary);

  border: 1px solid var(--color-border);
  border-radius: 30px;
  padding: 4px 6px;

  background: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;

  outline: transparent;
  margin-bottom: 9px;
  transition: all var(--transition);
  width: 118px;
}

/* from 768px */
@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 114%;
  }
  .text {
    font-size: 18px;
    line-height: 133%;
  }

  .okBtn {
    width: 160px;
    padding: 14px 0;
    font-size: 16px;
  }
}
