.languageButtonContainer {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}

.languageButton {
  display: flex;
  align-items: center;
  min-height: 40px;
  color: var(--color-text-primary);
  gap: var(--space-sm);

  background: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);

  opacity: 0.7;
  cursor: pointer;
  padding: 0 14px; /* for fixing size jump on text show/hide */

  font-size: 12px;
}

.languageButton:hover,
.languageButton:focus {
  opacity: 1;
  border-color: var(--color-accent-hover);
  border-width: 2px;
  margin: -1px;
}

.languageButton.active {
  opacity: 1;
  border-color: var(--color-accent-hover);
  box-shadow: inset 0 2px 6px var(--color-accent-hover);
}

.flag {
  display: none;
}

.code {
  font-weight: 500;
}

/* from 768px */
@media (min-width: 768px) {
  .flag {
    display: block;
  }
  .languageButtonContainer {
    gap: var(--space-xs);
  }
}
