.languageSwitcher {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}

.languageButton {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  opacity: 0.7;
  font-weight: 500;

  background: var(--color-bg-secondary);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
  cursor: pointer;
  gap: 6px;

  font-size: 14px;
  height: 40px;
  padding: 0 18px;
}

.languageButton:hover {
  border-color: var(--color-accent-hover);
  opacity: 1;
}

.languageButton.active {
  background: var(--color-accent);
  border-color: var(--color-accent);
  opacity: 1;
  transform: translateY(-2px);
  box-shadow: 0 2px 6px var(--color-accent-hover);

  color: var(--color-text-primary);
}

.flag {
  font-size: 16px;
}

.code {
  font-weight: 500;
}

/* from 0 to 768px */
@media (max-width: 768px) {
  .languageButton {
    font-size: 12px;
    height: 36px;
    padding: 0 14px;
    border-radius: var(--radius-sm);
  }
  .flag {
    display: none; /* hide on mobile */
  }
  .languageSwitcher {
    gap: var(--space-xs);
  }
}
