.languageButtonContainer {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}

.languageButton {
  display: flex;
  align-items: center;
  min-height: 40px;
  color: var(--color-text-primary);
  gap: var(--space-sm);

  background: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);

  opacity: 0.7;
  cursor: pointer;

  font-size: 12px;
  height: 36px;
  padding: 0 14px;
  border-radius: var(--radius-sm);
}

.languageButton:hover,
.languageButton:focus {
  border-color: var(--color-accent-hover);
  opacity: 1;
}

.languageButton.active {
  background: var(--color-accent);
  border-color: var(--color-accent);
  opacity: 1;
  transform: translateY(-2px);
  box-shadow: inset 0 2px 6px var(--color-accent-hover);
  color: var(--color-text-primary);
}

.flag {
  font-size: 16px;
}

.code {
  font-weight: 500;
}

/* from 768px */
@media (min-width: 768px) {
  .languageButton {
    padding: 0 18px;
  }
  .flag {
    display: none; /* hide on mobile */
  }
  .languageButtonContainer {
    gap: var(--space-xs);
  }
}
