.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 700;

  text-transform: uppercase;
  /* color: var(--color-accent); */

  line-height: 20px;
  letter-spacing: -0.01em;
}
.logo span {
  /* color: var(--color-accent); */
  box-shadow: inset 1px 0 6px var(--color-accent);
  padding: 4px 6px;
  border-radius: 50%;
  text-transform: none;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 18px;
  }
  .logo span {
    padding: 8px;
  }
  @media screen and (min-width: 1440px) {
    .logo {
      font-size: 22px;
    }
    .logo span {
      padding: 12px;
    }
  }
}
