.sectionContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: var(--color-bg-secondary);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.logo {
  margin-bottom: 40px;
}
.title {
  margin-bottom: 22px;
  color: var(--color-text-primary);

  font-size: 32px;
  font-weight: 700;
}

.notify {
  color: var(--color-text-placeholder);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  text-align: center;
  margin-top: 16px;
}

.navLink {
  color: var(--color-accent);

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
  text-transform: capitalize;
  transition: all var(--transition);
}

.navLink:hover {
  color: var(--color-accent-hover);
}

.advantagesSection {
  display: none;
}
/* from 768px */
@media screen and (min-width: 768px) {
  .sectionContainer {
    display: flex;
    max-width: none;
    padding: 120px 60px 50px 60px;
    max-width: 704px;

    flex-direction: column;
  }
  .content {
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 170px;
  }
  .title {
    font-size: 36px;
  }
  .notify {
    font-size: 16px;
  }
  .navLink {
    font-size: 16px;
  }
}
/* from 1440px */
@media screen and (min-width: 1440px) {
  .sectionContainer {
    padding-top: 188px;
    padding-bottom: 188px;
    padding-left: 64px;
    padding-right: 61px;
    max-width: 672px;
  }
  .logo {
    margin-bottom: 74px;
  }
  /* .desctopContainer {
    display: flex;
    gap: 32px;
  } */
  .advantagesSection {
    width: 672px;
    height: 736px;
    display: block;
  }
}
