.sectionContainer {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  background-color: var(--color-bg-secondary);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.logo {
  margin-bottom: 20px;
}
.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--color-text-primary);
}

.notify {
  color: var(--color-text-placeholder);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  text-align: center;
  margin-top: 16px;
}

.navLink {
  color: var(--color-accent);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
  text-transform: capitalize;
}

.navLink:hover {
  color: var(--color-accent-hover);
}

/* from 768px */
@media screen and (min-width: 768px) {
  .sectionContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    max-width: 704px;
  }
  .content {
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 100px;
  }
  .title {
    font-size: 24px;
  }
  .notify {
    font-size: 16px;
  }
  .navLink {
    font-size: 16px;
  }
}
/* from 1440px */
@media screen and (min-width: 1440px) {
  .sectionContainer {
    padding: 40px 60px;
    max-width: 672px;
  }
  .logo {
    margin-bottom: 74px;
  }
  .title {
    font-size: 32px;
  }
}
