.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  display: flex; /* добавляем flex для центрирования */
  align-items: center;
  justify-content: center;
  z-index: 1000; /* убедитесь что z-index достаточный */
}

.modal {
  position: relative; /* for catch the close button */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 46px 10px 10px;
  /* max-height: 90vh;
  width: 90%; */
  color: var(--color-text-primary);
  box-shadow: 0 4px 50px 0 var(--shadow);

  border-radius: 18px;

  box-shadow: inset 0 2px 6px var(--color-accent-hover);
  /* Neon effect */
  border: 2px solid var(--color-accent);
  background:
    linear-gradient(var(--color-bg-card), var(--color-bg-card)) padding-box,
    linear-gradient(
      135deg,
      var(--color-accent-hover),
      rgba(74, 86, 226, 0.3),
      var(--color-accent-hover)
    );
}

.closeButton {
  /* for centering the icon indside */
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-primary);

  z-index: 1;

  position: absolute;
  top: 8px;
  right: 8px;

  background: transparent;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  cursor: pointer;

  padding: 2px;
  font-size: 18px; /* closeIcon size */
}

.closeIcon {
  padding: 4px;
}

.closeButton:focus {
  outline: none;
}

.closeButton:hover > .closeIcon {
  stroke: var(--logout-btn);
}
.responsiveIcon {
  font-size: 20px;
}

/* from 768px */
@media screen and (min-width: 768px) {
  .modal {
    padding: 64px 20px 20px;
  }
  .closeButton {
    top: 12px;
    right: 12px;
    padding: 2px;
    font-size: 24px;
  }
  .responsiveIcon {
    font-size: 24px;
  }
}
