.sectionContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: var(--color-bg-secondary);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.logo {
  margin-bottom: 40px;
}
.title {
  margin-bottom: 22px;
  color: var(--color-text-primary);

  font-size: 32px;
  font-weight: 700;
}

.notify {
  color: var(--main-placeholder);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  text-align: center;
  margin-top: 16px;
}

.navLink {
  color: var(--main);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
  text-transform: capitalize;
  transition: all var(--transition);
}

.navLink:hover {
  color: var(--accent-hover);
}

.advantagesSection {
  display: none;
}
@media screen and (min-width: 768px) {
  .sectionContainer {
    padding: 32px;
    width: 704px;
    height: 960px;
    display: flex;
    flex-direction: column;
  }
  .content {
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 225px;
  }
  .title {
    font-size: 36px;
  }
  .notify {
    font-size: 16px;
  }
  .navLink {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 672px;
    height: 736px;
  }
  .logo {
    margin-bottom: 113px;
  }
  .sectionContainer {
    display: flex;
    gap: 32px;
  }
  .advantagesSection {
    width: 672px;
    height: 736px;
    display: block;
  }
}
