.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
  border-radius: 20px;
  box-shadow: 0 4px 20px var(--color-bg-secondary);
  width: 100%;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}
.inputGroup:not(:first-child) {
  margin-bottom: 26px;
}

.inputGroup > label {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
  margin-bottom: 8px;
}

.inputGroupInput {
  color: var(--color-text-primary);
  background-color: var(--color-bg-input);
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--color-border-input);
  padding: 16px;
  outline: none;
}

.inputGroupInput:focus {
  border-color: var(--color-accent-hover);
  box-shadow: 0 0 0 2px rgba(74, 86, 226, 0.2);
}

.inputGroupInput::placeholder {
  color: var(--color-text-placeholder);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
}

.inputError {
  border: 1px solid var(--color-status-error);
  color: var(--color-status-error);
}

.inputError:focus {
  border-color: var(--color-status-error);
  box-shadow: 0 0 0 2px rgba(234, 84, 85, 0.2);
}

.error {
  color: var(--color-status-error);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -1%;
  margin-top: 6px;
  padding-left: 8px;
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}
.passwordToggle {
  color: var(--color-text-primary);
  position: absolute;
  border: none;
  line-height: 0;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  background-color: var(--color-bg-input);
  cursor: pointer;
}

.passwordToggle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* for dark theme */
/* [data-theme='dark'] .passwordToggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
} */

.icon {
  color: var(--color-text-placeholder);
}
.passwordToggle:hover .icon {
  color: var(--color-text-primary);
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xl);
  color: var(--color-text-primary);
  font-size: 14px;
  padding: 16px;
  opacity: 0.7;
  cursor: pointer;
  width: 100%;
}

.submitButton:hover,
.submitButton:focus {
  border-color: var(--color-accent-hover);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px var(--color-accent-hover);
  opacity: 1;
}

.submitButton:disabled {
  background-color: var(--color-bg-secondary);
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

/* from 768px */
@media screen and (min-width: 768px) {
  .form {
    width: 436px;
  }
  .modal {
    width: 516px;
    padding: 40px;
  }
  .inputGroup {
    margin-bottom: 20px;
  }
  .inputGroup > label {
    font-size: 16px;
  }

  .inputGroupInput::placeholder {
    font-size: 16px;
  }
  .inputGroupInput {
    height: 56px;
    font-size: 16px;
  }

  .passwordToggle {
    padding: 10px;
  }

  .submitButton {
    padding: 18px;
    font-size: 16px;
    margin-top: 32px;
  }
  .error {
    font-size: 14px;
    line-height: 16px;
  }
  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
    margin-bottom: 16px;
  }
  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
    margin-bottom: 28px;
  }
}
