.themeButtonContainer {
  display: flex;
  align-items: center;
}

.themeButton {
  display: flex;
  align-items: center;
  min-height: 40px;
  color: var(--color-text-primary);
  gap: var(--space-sm);

  background: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);

  opacity: 0.7;
  cursor: pointer;
  padding: 0 14px; /* for fixing size jump on text show/hide */
}

.themeButton:hover,
.themeButton:focus {
  opacity: 1;
  border-color: var(--color-accent-hover);
  box-shadow: inset 0 2px 6px var(--color-accent-hover);
  border-width: 2px;
  margin: -1px;
}
/* for override Stitches css prop icon sizes */
.icon {
  font-size: 16px !important;
}

.textButton {
  display: none;
  font-size: 16px;
}

/* from 768px */
@media (min-width: 768px) {
  .icon {
    font-size: 16px !important;
  }

  .textButton {
    display: block;
  }
}
