.themeButton {
  display: flex;
  gap: var(--space-sm);
  align-items: center;

  background: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);

  color: var(--color-text-primary);
  opacity: 0.7;
  cursor: pointer;
  padding: 0 16px;
  min-width: 50px;
  font-size: 14px;
}

.themeButton:hover,
.themeButton:focus {
  border-color: var(--color-accent-hover);
  opacity: 1;
  transform: translateY(-2px);
  box-shadow: 0 2px 6px var(--color-accent-hover);
}

.textButton {
  font-weight: 500;
}

/* from 0 to 768px */
@media (max-width: 768px) {
  .themeButton {
    padding: 0 18px;
    border-radius: var(--radius-sm);
  }

  .icon {
    font-size: 12px;
  }

  .textButton {
    display: none; /* hide on mobile */
  }
}
