.themeButton {
  display: flex;
  align-items: center;
  gap: 8px;
  /* padding: 8px 12px; */
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background: var(--card-bg);
  color: var(--main-text);
  cursor: pointer;
  height: 40px;

  font-size: 14px;
}

.themeButto:hover {
  border-color: var(--accent-color);
  background: var(--hover-bg);
}

.icon {
  font-size: 16px;
}

.text {
  font-weight: 500;
}

@media (max-width: 768px) {
  .themeSwitcher {
    /* padding: 6px 10px; */
    font-size: 12px;
    height: 36px;
  }

  .icon {
    font-size: 12px;
  }

  .text {
    display: none; /* hide on mobile */
  }
}
